


#title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22pt;
    color: darkgrey;
    padding-bottom: 5px;
    text-align: center;
    border-bottom: 2px solid #37c8c8;
    box-sizing: border-box;

}

.inner-header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    color: darkgrey;
    padding-bottom: 5px;
    border-bottom: 2px solid #37c8c8;
    box-sizing: border-box;
    margin-bottom: 20px;
}

#header{
    display: grid;
    justify-content: center;
    text-align: center;
}

.projects-title-div{
    display: flex;
    padding-bottom: 50px;
    justify-content: center;
}

.contact-title-div{
    display: flex;
    padding-bottom: 20px;
    justify-content: center;
}

.about-title-div{
    display: flex;
    padding-bottom: 20px;
    justify-content: center;
}

.sub-header{
    color: blue;
}

#about-me{
    width: 80%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

body {
    background: lightgrey;
  }
  
  footer {
    background-size: cover;
  }

#avatar{
    width: 100%;
    max-width: 600px;
    border-radius: 50%;
    border: 2px solid #37c8c8;  
}

#img-div{
 display: grid;
 align-items: center;
 margin-bottom: 20px;
}


.contact-details{
    display: block;
    text-align: center;
    padding-bottom: 30px;
}

.icon{
    max-width: 40px;
}

li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -50px;
}

p[class='email']{
    padding-right: 20px;
    padding-bottom: 5px;
}

p[class='phone']{
    padding-bottom: 5px;
}


p{
    font-weight: 400;
    line-height: 24px !important;
    font-size: 14px;
    letter-spacing: 0;
    margin: 0 0 16px;
    padding-bottom: 40px;
}