


#title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22pt;
    color: darkgrey;
    padding-bottom: 5px;
    margin: 20px, 0px, 20px, 0px;
    text-align: center;
    border-bottom: 2px solid #37c8c8;
    box-sizing: border-box;

}

.title-div{
    display: flex;
    padding-bottom: 30px;
    justify-content: center;

}

.sub-header{
    color: blue;
}

#about-me{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 20px;
    padding-right: 20px;
}

